<p style="color: green"><%= notice %></p>

<%= render @contact %>

<div>
  <%= link_to "Edit this contact", edit__contact_path(@contact) %> |
  <%= link_to "Back to contacts", _contacts_path %>

  <%= button_to "Destroy this contact", [, @contact], method: :delete %>
</div>
